@page
@model AdminiBackend.Pages.Panel.Tags.AddModel

@{
  ViewData["LayoutViewData"] = new AdminiBackend.Entities.LayoutViewData("Create tag", AdminiBackend.Entities.AdminPanelPage.TagsPage);
}

<div class="w3-white w3-round w3-margin-bottom w3-border">
  <header class="w3-padding-large w3-large w3-border-bottom">Create Tag</header>
  <div class="w3-padding-large">
    <form method="post" class="w3-container">
      <div class="w3-section">
        <input type="hidden" asp-for="NewTag.UserId" />
        <div class="w3-margin-bottom">
          <label asp-for="NewTag.Number" class="w3-large"></label>
          <input asp-for="NewTag.Number" class="w3-input w3-border w3-round" required />
        </div>
        <div class="w3-margin-bottom">
          <label asp-for="NewTag.Title" class="w3-large"></label>
          <input asp-for="NewTag.Title" class="w3-input w3-border w3-round" required />
        </div>
        <div class="w3-margin-bottom">
          <button type="submit" class="w3-button w3-primary w3-round">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>